/* Theme Color Variables */
:root {
    --white: #fdffff;
    --cream: #f0e7dd;
    --light-gray: #c3c3c3;
    --dark-gray: #818181;
    --blue: #000080;
    --gradient-blue: #1084d0;
    --teal: #008080;
}

/* Global HTML & Body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "Georgia", "Palatino Linotype", "Book Antiqua", serif;
    font-size: 14px;
    background-color: var(--cream);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    border-top: 5px solid var(--white);
    border-left: 5px solid var(--white);
    border-bottom: 5px solid var(--dark-gray);
    border-right: 5px solid var(--dark-gray);
    background-color: var(--gray);
}

main {
    flex: 1;
    padding: 10px;
}

/* Headings */
h1 {
    color: var(--white);
    background: linear-gradient(to right, var(--blue), var(--gradient-blue));
    font-size: 4em;
    text-align: left;
    padding: 3px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Heading Image */
.h1-image {
    height: 1.15em;
    width: auto;
    border: 2px solid var(--white);
    box-sizing: border-box;
    display: block;
}

/* Shadow Text */
.shadow {
    color: var(--white);
    text-shadow: 3px 3px 1px var(--dark-gray);
}

/* Text Boxes */
.text-box {
    padding: 8px;
    display: block;
    width:fit-content;
    margin: 20px 0;
    font-size: 14px;
    color: #000;
    outline: none;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}

.text-desc {
    width: 80vw;
}

/* Navigation */
.navbar {
    padding: 4px;
    display: flex;
    justify-content: left;
    gap: 4px;
    box-sizing: border-box;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: inline-block;
    padding: 4px 12px;
    color: #000;
    text-decoration: none;
    font-family: "Times New Roman", "Georgia", "Palatino Linotype", "Book Antiqua", serif;
    box-sizing: border-box;
    cursor: pointer;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}

.navbar a:hover {
    background-color: var(--teal);
    color: var(--white);
}

/* Hanger */

.pm-section h2 {
    display: inline-block;
    color: #000;
    padding: 4px 12px;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 2px 0 8px 0;
    text-shadow: 1px 1px 0 var(--dark-gray);
    cursor: default;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}

.pm-section h2:hover {
    border-top: 2px solid var(--dark-gray);
    border-left: 2px solid var(--dark-gray);
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    text-shadow: none;
}

.pm-banner-container {
    position: relative;
    width: 100%;
}

.pm-banner {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid var(--white);
}

.pm-avatar {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 65%;
    width: auto;
    border: 2px solid var(--white);
}

/* Quarters */
.quarters {
    margin-bottom: 30px;
    width: fit-content;
}

.quarters h2 {
    display: inline-block;
    color: #000;
    padding: 4px 12px;
    font-size: 16px;
    margin: 4px 0 10px 0;
    text-shadow: 1px 1px 0 var(--dark-gray);
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}

.quarters h2:hover {
    border-top: 2px solid var(--dark-gray);
    border-left: 2px solid var(--dark-gray);
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    text-shadow: none;
}

.video-container {
    position: relative;
    max-width: 560px;
    width: 90vw;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--dark-gray);
}

.video-container iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

/* Footer */
footer {
    padding: 8px;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--dark-gray);
    border-right: 2px solid var(--dark-gray);
    background-color: var(--light-gray);
}